html,
body,
main {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

}

main {

    /* height: 500vh; */
}

.mobile {
    display: none;
    font-size: 3rem;
    color: var(--texto-blanco);
    font-weight: bold;
}

.boton_nav {
    display: none;
}

header {
    width: 100%;
    height: 100vh;
    background-color: var(--primario);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primario);

}

.vineta {
    width: 350px;
    height: 110px;
    background-image: url('../img/vineta.png');
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: polygon(16% 0, 100% 0%, 100% 100%, 16% 100%, 0% 50%); */

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    gap: 25px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 35%));
    padding-left: 3rem;
    /* display: none; */
}


.icon {
    display: block;
    width: 42px;
    height: 42px;
}

.presentacion {
    overflow: hidden;
    max-width: 1100px;
    max-height: 700px;
    background: linear-gradient(90deg, var(--marron-claro) 50%,
            var(--verde-oscuro)50%);
    border-radius: 2rem;
    position: relative;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.30);
}

.presentacion::after {
    content: "Don detalle";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -chrome-transform: translate(-50%);
    line-height: 6rem;
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--secundario);
    transition: left .5s ease;
}

.presentacion::before {
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    background-image: url(../img/logo/logov2.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -chrome-transform: translate(-50%, -50%);
    z-index: 5;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 60%));
    transition: left .5s ease, top .5s ease;
    animation: ocultarLogo 5s forwards;
    -moz-animation: ocultarLogo 5s forwards;
    -webkit-animation: ocultarLogo 5s forwards;
    -o-animation: ocultarLogo 5s forwards;
    -khtml-animation: ocultarLogo 5s forwards;
    -ms-animation: ocultarLogo 5s forwards;
    -chrome-animation: ocultarLogo 5s forwards;
}

@keyframes ocultarLogo {

    0%,
    50% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

.presentacion__links {
    padding: 0rem 6.8rem;
    line-height: 6rem;
    font-weight: lighter;
}

.presentacion__links>ul {
    display: flex;
    gap: 2.5rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--secundario);
}

.presentacion__links>ul>li {
    list-style-type: none;
}

.presentacion__links>ul>li>a {
    text-decoration: none;
    color: var(--secundario);

}

.presentacion__bienvenida {
    display: flex;

}

.presentacion__frase {

    width: 50%;
    padding: 0rem 6.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: star;
    gap: 2rem;
    transition: margin .5s ease;

}

.encabezado {
    font-size: 4.9rem;
    color: var(--secundario);
    line-height: 115%;
}

.texto {
    font-size: 1.8rem;
    color: var(--secundario);
    font-weight: lighter;
}

.catalogo {
    margin-top: 8.4rem;
    margin-left: 7.5rem;
    width: 160px;
    height: 60px;
    display: block;
    background-color: var(--violeta);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--texto-negro);
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

.catalogo::before {
    content: "";
    width: 160px;
    height: 60px;
    position: absolute;
    border: 1px solid var(--secundario);
    border-radius: 5px;
    top: .5rem;
    left: .5rem;
    z-index: -1;
}

.presentacion__imagen {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    padding: 3.5rem 0rem 0rem 6.8rem;
    animation: ocultarImagenPulsera 2.5s forwards;
    -moz-animation: ocultarImagenPulsera 2.5s forwards;
    -webkit-animation: ocultarImagenPulsera 2.5s forwards;
    -o-animation: ocultarImagenPulsera 2.5s forwards;
    -khtml-animation: ocultarImagenPulsera 2.5s forwards;
    -ms-animation: ocultarImagenPulsera 2.5s forwards;
    -chrome-animation: ocultarImagenPulsera 2.5s forwards;

}

@keyframes ocultarImagenPulsera {

    0%,
    50% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

.imagen {
    width: 509px;
    height: 604px;
    object-fit: cover;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

/* Estilos para el contenedor de productos */
.container__catalogo {
    padding-top: 14rem;
}

.catalogo__cinta {
    background-color: var(--secundario);
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0rem;
}

.circulo {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--primario);

}

.frase__cinta {
    text-align: center;
    margin: 0rem auto;
    font-size: 1.6rem;
}

.circulo:first-child {
    margin-left: 5.6rem;
}

.circulo:last-child {
    margin-right: 5.6rem;
}

.nav {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem 0rem;
    background-color: var(--verde-oscuro);
    position: sticky;
    top: 2rem;

}

.categoria__ul>li>a {
    display: block;
    text-decoration: none;
    color: var(--texto-blanco);
}

@supports not (position: sticky) {

    /* Estilos alternativos para navegadores que no admiten position: sticky */
    .nav {
        position: relative;
    }

    .nav::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
    }
}

.categoria__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav>ul>li {
    list-style-type: none;
    font-size: 1.8rem;
    color: var(--texto-blanco);
    cursor: pointer;
    transition: text-shadow .5s ease;

    -moz-transition: text-shadow .5s ease;
    -webkit-transition: text-shadow .5s ease;
    -o-transition: text-shadow .5s ease;
    -khtml-transition: text-shadow .5s ease;
    -ms-transition: text-shadow .5s ease;
    -chrome-transition: text-shadow .5s ease;

}

.nav>ul>li:hover {

    text-shadow: 5px 5px 3.5px var(--texto-negro);
}

.productos {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__bisuteria,
.container__origami,
.container__arreglos {
    width: 70%;
    display: grid;
    grid-auto-rows: 48.5rem;
    grid-template-columns: repeat(auto-fit, 29rem);
    gap: 3.5rem;
    padding-bottom: 3.5rem;
    justify-content: center;
}

.carta {
    background-color: var(--marron-claro);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 30%);
}

.carta>img {
    height: 26.9rem;

}

.nombre {
    margin-top: 2rem;
    padding: 0rem 2.5rem;
    font-size: 1.8rem;
    color: var(--texto-blanco);
    font-weight: bold;
}

.descripcion {
    padding: 0rem 2.5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--texto-blanco);
    font-weight: 100;
}

.precio {
    padding: 0rem 2.5rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--texto-blanco);
    font-weight: bold;
    text-align: end;
}

/* ESTILOS PARA LA INFORMACION DE LA PERSONA*/
.persona {
    font-family: 'Manrope', sans-serif;
    padding-bottom: 5.7rem;
}

.perfil {
    max-width: 100rem;
    max-height: 60rem;

    margin: 3rem auto;
    display: flex;

    position: relative;
}

.frase-size {
    font-size: 1.8rem;
    font-weight: bold;
}

.perfil::before {
    content: attr(data-perfil)"";
    position: absolute;
    background-color: var(--morado-oscuro);
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--texto-blanco);
    text-align: center;
    padding: 1.5rem;
    bottom: 0;
}

.avatar,
.informacion {
    width: 50%;
}

.avatar {
    background-color: var(--crema-claro);
}

.informacion {
    display: flex;
    background-color: var(--crema);
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.modelo_desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 8rem;
}
.modelo_mobile{
    display: none;
}

.nombre_person,
.sobre_mi,
.experiencia,
.quien_soy {
    color: var(--texto-negro);
    width: 100%;
    transition: padding .5s ease-in-out;
}

.sobre_mi {
    font-size: 1.8rem;
    padding: 0rem 6rem;
    

}

.experiencia,
.quien_soy {
    padding: 1rem 6rem;
    transition: padding .5s ease-in-out;
}

.experiencia {
    font-size: 1.8rem;
    font-weight: bold;
}

.quien_soy {
    font-size: 1.6rem;
    font-weight: 500;
}

.nombre_person {
    font-size: 8rem;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.apellido {
    width: 100%;
    font-size: 9rem;
    font-weight: bold;
    text-align: center;
}

.objetivo {
    max-width: 100rem;
    min-height: 17rem;
    margin: 0 auto;
    display: flex;
}

.vision,
.meta {
    padding: 2.7rem 6rem;
    font-size: 1.6rem;
    text-align: justify;
}

.vision>p:first-child,
.meta>p:first-child {
    font-size: 2.5rem;
    text-align: center;
}

.vision{
    background-color: var(--crema);
}
.meta {
    background-color: var(--crema-claro);
}
.vision,.meta {
    transition: box-shadow .5s ease-in-out;
    -moz-transition: box-shadow .5s ease-in-out;
    -webkit-transition: box-shadow .5s ease-in-out;
    -o-transition: box-shadow .5s ease-in-out;
    -khtml-transition: box-shadow .5s ease-in-out;
    -ms-transition: box-shadow .5s ease-in-out;
    -chrome-transition: box-shadow .5s ease-in-out;
}


.vision:hover,
.meta:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 15%);
    position: relative;
    z-index: 2;
}

/* RESPONSIVE */
@media screen and (max-width: 1120px) {
    .modelo_desktop{
        display: none;
    }
    .modelo_mobile{
        display: block;
    }
    .nav {
        margin-top: 0rem;
        height: 8em;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catalogo__cinta {
        display: none;
    }

    .catalogo-d-block {
        display: flex;
    }

    .presentacion__frase {
        width: 80%;
        height: 100%;
        margin-top: 14.5rem;
    }

    .presentacion__imagen {
        display: none;
    }

    .presentacion {
        min-height: 700px;
    }

    .presentacion::before {
        content: "";
        position: absolute;
        width: 212px;
        height: 212px;
        background-image: url(../img/logo/logov2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 5;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 60%));
        transition: left .5s ease, top .5s ease;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -chrome-transform: translate(-50%, -50%);
    }

    .perfil{
        flex-direction: column;
        max-width: 50rem;
        background-color: var(--crema);
        padding: 3.5rem 0rem;
        max-height: inherit;
    }
    .objetivo{
        max-width: 50rem;
        flex-direction: column;
        gap: 3rem;
    }
    .vision,
    .meta{
        width: 100%;
    }
    .nombre_person{
        font-size: 5rem;
        margin-top: 2rem;

    }
    .apellido{
        font-size: 6rem;
    }
    .avatar,.informacion{
        width: 100%;
        margin: 0 auto;
    }
    .sobre_mi{
        margin-top: 2rem;
    }
    .avatar{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    .quien_soy{
        margin-bottom: 6rem;
    }
    /* .avatar > img{
        width: 150px;
        height: 526px;
        margin: 0 auto;
        object-fit: cover;
        padding-top: 4rem;
        background-position: center center;
    } */

}

@media screen and (max-width: 900px) {
    .presentacion {
        width: 95%;
    }

}

@media screen and (max-width: 744px) {
    .presentacion::after {
        content: "Don detalle";
        position: absolute;
        top: 0;
        left: 68%;
        line-height: 6rem;
        font-size: 2.5rem;
        font-weight: lighter;
        color: var(--secundario);
        transition: left .5s ease;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -o-transform: translate(-50%);
        -khtml-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -chrome-transform: translate(-50%);

    }

    .presentacion__frase {
        width: 100%;
        height: 100%;

    }
}

@media screen and (max-width: 650px) {
    .encabezado {
        font-size: 3rem;
    }

    .presentacion__frase {

        /* background: red; */
        margin-top: 5rem;
        transition: margin .5s ease;
    }

    .catalogo {
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .texto {
        font-size: 1.6rem;
    }

    .presentacion::before {
        content: "";
        position: absolute;
        width: 212px;
        height: 212px;
        background-image: url(../img/logo/logov2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 75%;
        left: 50%;
        z-index: 5;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 60%));
        transition: left .5s ease, top .5s ease;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -chrome-transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 550px) {
    .presentacion::after {
        content: "";
        display: none;
    }
    .perfil{
        max-width: 95%;
        
        
    }
    .objetivo{
        max-width: 95%;
    }
    .sobre_mi,
    .experiencia,
    .quien_soy{
        padding: 0rem 3.5rem;
    }
    .experiencia,
    .quien_soy{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .boton_nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .boton_nav>p {
        font-size: 2.5rem;
        color: var(--texto-blanco);
    }

    .nav_change {
        flex-direction: column;
        height: 100vh;

        position: fixed;
        z-index: 20;
        justify-content: start;

    }

    .nav__mobile_abrir {
        display: block;

    }

    /* .nav__mobile_cerrar{
        
    } */

    .categoria__ul {
        display: none;
    }
    .meta{
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 414px) {

    header {
        display: inherit;
        padding-top: 14rem;
    }

    .presentacion {
        margin: 0 auto;
    }

    .presentacion::before {
        content: "";
        position: absolute;
        width: 170px;
        height: 170px;
        background-image: url(../img/logo/logov2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 80%;
        left: 50%;
        z-index: 5;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 60%));
        transition: left .5s ease, top .5s ease;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -chrome-transform: translate(-50%, -50%);
    }

    .presentacion__links>ul {
        justify-content: center;
        align-items: center;
    }

    .presentacion__frase {

        padding: 0rem 4rem 5rem 4rem;
    }

    .presentacion__links {
        padding: 0rem 4.5rem;
    }
}

@media screen and (max-width: 375px) {
    .presentacion__frase {
        margin-top: 4rem;
        padding: 0rem 2rem 5rem 2rem;
    }

    .catalogo {
        width: 100px;
        height: 40px;
        margin-top: 3rem;
        margin-left: 0rem;
        font-size: 1.6rem;
    }

    .catalogo::before {
        content: "";
        width: 100px;
        height: 40px;
        position: absolute;
        border: 1px solid var(--secundario);
        border-radius: 5px;
        top: .5rem;
        left: .5rem;
        z-index: -1;
    }

    .presentacion {
        max-height: 600px;
        min-height: inherit;
        margin: 0 auto;
    }

    .presentacion__links {
        padding: 0rem 2rem;
    }

    .presentacion {
        overflow: inherit;
    }

    .presentacion::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url(../img/logo/logov2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 80%;
        left: 75%;
        z-index: 5;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 60%));
        transition: left .5s ease, top .5s ease;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -khtml-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -chrome-transform: translate(-50%, -50%);
    }
}

/* efectos para javascript */
.nav__bottom {
    bottom: 0;
    top: inherit;
    height: 88px;
    background-position: center center;
}

.categoria__ul_mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}