:root{
    --primario: #F2E3D1;
    --secundario: #ffffff;
    --marron-claro: #A38262;
    --verde-oscuro: #53694F;
    --crema: #FFF0DE;
    --crema-claro: #FFF0DE;
    --morado-oscuro: #3C3B4E;
    --texto-gris-oscuro: #525252;
    --texto-negro: #323232;
    --texto-blanco: #ffffff;
    --violeta: #E5D5FF;
}